[Unit]
Description = service pour backup
After = network.target

[Service]
Type=simple
Environment="SITE=localhost:1025"
PIDFile=/run/nginx.pid
User=backup
ExecStartPre=/tmp/pre_backup.sh ${SITE}
ExecStart=/tmp/backup.sh ${SITE}
ExecStartPost=/tmp/backup_post.sh ${SITE}
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy = multi-user.target
